<?xml version="1.0"?>
<!--
/**
 * @package     Dadolun_RepeatableWidget
 * @copyright   Copyright (c) 2021 Dadolun (https://github.com/dadolun95)
 * @license     Open Source License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="save_widget_repeatable_items" type="Dadolun\RepeatableWidget\Plugin\SaveRepeatableItems" sortOrder="1" />
    </type>
</config>
